rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Izinkan semua client membaca data secara real-time
    // Penambahan, pengeditan, dan penghapusan data bungkaran & pesanan buah
    match /bungkaran_records/{recordId} {
      allow read, write: if true;
    }
    match /fruit_orders/{orderId} {
      allow read, write: if true;
    }
    match /fruit_stocks/{stockId} {
      allow read, write: if true;
    }
    match /admins/{adminId} {
      allow read, write: if true;
    }
    match /user_logs/{logId} {
      allow read, write: if true;
    }
  }
}
